{% extends 'base.html' %} {% block title %} Historia {% endblock %} {% block
content %}
<h3 class="playwrite-de-grund">Historia de la Preceptoría</h3>
<p>
  La historia de la preceptoría refleja su evolución desde una función privada y
  exclusiva a una profesión crucial y multifacética dentro de la educación
  moderna. Los preceptores son ahora vistos como pilares fundamentales para el
  desarrollo integral de los estudiantes, apoyando tanto su aprendizaje
  académico como su bienestar emocional y social.
</p>
<div class="row justify-content-center">
  <div class="card mb-3 col-xl-4 col-lg-6 col-md-6">
    <h4 class="playwrite-de-grund">Antigua Grecia y Roma</h4>
    <img
      style="max-width: 200px; height: auto; align-self: center"
      class="card-img-top"
      src="https://i.postimg.cc/W1PBdHPf/image.png"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">
        <b>1. </b> La historia de la preceptoría se remonta a las antiguas
        civilizaciones, donde los mentores y tutores jugaban un papel crucial en
        la educación de los jóvenes. En la Antigua Grecia, por ejemplo,
        filósofos como Sócrates y Platón actuaban como mentores, guiando a sus
        discípulos no solo en el conocimiento, sino también en el desarrollo
        moral y ético. De manera similar, en el Imperio Romano, los preceptores
        eran esclavos educados encargados de la formación de los hijos de las
        familias aristocráticas.
      </p>
    </div>
  </div>

  <div class="card mb-3 col-xl-4 col-lg-6 col-md-6">
    <h4 class="playwrite-de-grund">Edad Media</h4>
    <img
      style="max-width: 200px; height: auto; align-self: center"
      class="card-img-top"
      src="https://i.postimg.cc/mr4TGrDk/image.png"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">
        <b>2. </b>Durante la Edad Media, la figura del preceptor adquirió una mayor
        formalidad en Europa. Los nobles y la realeza contrataban preceptores
        privados para enseñar a sus hijos en diversas materias, incluyendo
        latín, matemáticas, historia y habilidades caballerescas. Estos
        preceptores no solo impartían conocimientos académicos, sino que también
        inculcaban valores y normas sociales.
      </p>
    </div>
  </div>

  <div class="card mb-3 col-xl-4 col-lg-6 col-md-6">
    <h4 class="playwrite-de-grund">Renacimiento</h4>
    <img
      style="max-width: 200px; height: auto; align-self: center"
      class="card-img-top"
      src="https://i.postimg.cc/wBSNcLTM/image.png"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">
        <b>3. </b>En el Renacimiento, con el resurgimiento del interés por la educación y
        el humanismo, la preceptoría evolucionó aún más. Los preceptores eran
        altamente valorados y a menudo se trataba de intelectuales destacados
        que enseñaban a los jóvenes de las élites europeas. Durante esta época,
        el enfoque de la educación se amplió para incluir artes y ciencias,
        además de los estudios clásicos.
      </p>
    </div>
  </div>

  <div class="card mb-3 col-xl-4 col-lg-6 col-md-6">
    <h4 class="playwrite-de-grund">Revolución Industrial</h4>
    <img
      style="max-width: 200px; height: auto; align-self: center"
      class="card-img-top"
      src="https://i.postimg.cc/FR4RHZHy/image.png"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">
        <b>4. </b>Con la llegada de la Revolución Industrial y la expansión de la
        educación pública en el siglo XIX, el rol de los preceptores comenzó a
        institucionalizarse. Las escuelas públicas y privadas empezaron a
        emplear preceptores para supervisar a los estudiantes, mantener la
        disciplina y apoyar el desarrollo académico. Este cambio marcó el inicio
        de la preceptoría como una profesión reconocida dentro del sistema
        educativo formal.
      </p>
    </div>
  </div>

  <div class="card mb-3 col-xl-4 col-lg-6 col-md-6">
    <h4 class="playwrite-de-grund">Siglo XX</h4>
    <img
      style="max-width: 200px; height: auto; align-self: center"
      class="card-img-top"
      src="https://i.postimg.cc/TwdcWnkb/image.png"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">
        <b>5. </b>En el siglo XX, la preceptoría continuó evolucionando, adaptándose a los
        cambios en las teorías educativas y las necesidades de los estudiantes.
        Los preceptores comenzaron a desempeñar roles más diversos, incluyendo
        la orientación académica, el apoyo emocional y la mediación de
        conflictos. Se les reconoció como figuras clave en la creación de un
        entorno escolar positivo y en la promoción del bienestar integral de los
        estudiantes.
      </p>
    </div>
  </div>

  <div class="card mb-3 col-xl-4 col-lg-6 col-md-6">
    <h4 class="playwrite-de-grund">Actualidad</h4>
    <img
      style="max-width: 200px; height: auto; align-self: center"
      class="card-img-top"
      src="https://i.postimg.cc/7hbd0FBS/image.png"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">
        <b>6. </b>Hoy en día, los preceptores son esenciales en las escuelas de todo el
        mundo. Su papel ha sido ampliado para incluir la identificación y el
        apoyo a estudiantes con necesidades especiales, la coordinación de
        actividades extracurriculares y la colaboración con profesores y padres
        para asegurar el éxito académico y personal de los alumnos. La formación
        de preceptores se ha profesionalizado, con programas específicos de
        capacitación y desarrollo continuo, destacando su importancia en el
        sistema educativo contemporáneo.
      </p>
    </div>
  </div>
</div>

{% endblock %}
