{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}

{% block content %}
    <h3 class=" playwrite-de-grund">Una Breve Introducción</h3>
              <p class="card-text">Los preceptores en un contexto educativo son esenciales para guiar y apoyar a los estudiantes, 
                resolver conflictos, seguir su progreso académico, comunicarse con las familias, 
                organizar actividades, fomentar valores y detectar necesidades especiales. 
                Su papel crea un entorno educativo completo, atendiendo tanto las necesidades académicas 
                como las emocionales y sociales de los alumnos, mejorando la convivencia escolar.</p>
           
            <img class="img-fluid rounded mx-auto d-block" src="https://i.postimg.cc/nVPc344H/87b888dc-d4c9-421d-b809-48bc496188ce.jpg"  alt="No cargo la imagen">

{% endblock %}