{% extends 'base.html' %}
{% block title %} Nosotros {% endblock %}

{% block content %}
<h3 class="playwrite-de-grund">Hola!</h3>
<p class="card-text">Somos estudiantes de tercer año de la carrera de Preceptoría en el Instituto Alfa. 
    Nos apasiona el rol de los preceptores en la educación y estamos comprometidas con 
    nuestro desarrollo profesional para apoyar y guiar a los estudiantes en su crecimiento 
    académico y personal.</p>

<img class="img-fluid rounded mx-auto d-block" src="https://i.postimg.cc/zD07HMSd/568ff774-c779-4f0e-9512-6c9b4ccb30b8.jpg"  alt="No cargo la imagen">

</div>
           
{% endblock %}